.main {
	background-image: url('shared/bg.jpg');
	background-attachment: scroll;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
}

.container {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1500px;
	margin: auto;
	padding: 100px;
}

.header {
	color: white;
	font-family: 'Montserrat';
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 130px 0px 0px 0px;
	width: 400px;
}

.h1 {
	font-family: 'Montserrat light';
	font-size: 4rem;
}

.header_text {
	font-weight: 300;
	font-size: 1.3rem;
}

.window {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: 500px;
	margin: 150px 0px 0px 0px;
	padding: 20px;
	box-shadow: 0 0 10px #444444;
}

.form_header {
	font-weight: 500;
	font-family: 'Montserrat';
}

.text_input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact_method {
	display: flex;
	gap: 10px;
}

.input {
	padding: 5px;
	border-radius: 7px;
	font-family: 'Montserrat';
}

.textarea {
	display: flex;
	flex-direction: column;
}

.submit {
	background-color: #e664a4;
	border-radius: 20px;
	padding: 10px;
	border: none;
	color: white;
	cursor: pointer;
}

@media (max-width: 1119px) {
	.window {
		margin-top: 20px;
	}
	.header {
		margin-top: 0px;
	}
	.container {
		justify-content: center;
	}
}
